---
---

@import url(http://fonts.googleapis.com/css?family=Dosis:300|Source+Code+Pro:400,300,200)

@import "select"
@import "grid"
@import "utils"
@import "animations"
@import "heatmap"
@import "code-highlight"

@mixin font-mono($transform: uppercase)
  font-family: 'mplus-1m', sans-serif
  font-weight: 100
  text-transform: $transform

$color-bg: rgb(18, 34, 51)
$color-link: #79D6EA
$color-line: rgba(255, 255, 255, .25)

*
  box-sizing: border-box

html
  color: white
  color: rgba(255,255,255,.8)
  @include font-mono(none)
  font-size: 120%
  height: 100%

body
  background: $color-bg
  margin: 0
  position: relative
  height: auto
  min-height: 100%

a:link, a:visited
  border-bottom: 1px solid
  color: $color-link
  display: inline-block
  text-decoration: none
  transition: all .4s ease-in-out

  &:hover
    background: $color-link
    color: $color-bg

button, select, input
  font-size: 1em

h3, h4, h5, h6
  font-weight: 100
  text-transform: uppercase

h1, h2
  font-weight: 100
  font-size: 2em
  text-transform: none

h3
  font-size: 1.25em
  // color: #FFE59C

h5
  color: white
  margin-bottom: 0
  font-size: 1em

#site
  padding: 5em 0
  position: relative

#graph
  position: absolute
  left: 0
  top: 0
  bottom: 0
  height: 100%
  width: 100%

header
  @extend .container
  overflow: hidden

header #logo
  background: url('/img/Logo@2x.png') no-repeat left top
  font-family: 'Dosis', sans-serif
  font-size: 60px

  a
    color: white
    font-weight: 300
    padding-left: 1.4em
    border: none
    &:hover
      background: none
      color: white

header .select
  font-size: 18px
  position: absolute
  right: 0
  top: 50%
  margin-top: -16px

.intro
  padding: 3.5em 0
  margin: 2em auto

  h1
    color: #B4F3E5
    font-size: 3em
    font-weight: 100

    span
      color: #00FCD6
      display: block

  button
    background: none
    border: 1px solid #eee
    border-radius: .25rem
    color: #eee
    cursor: pointer
    padding: .5rem 2rem
    font-family: 'Dosis', sans-serif
    font-weight: 100

.latest
  @include font-mono(none)

  span
    font-size: .9em
    text-transform: uppercase

button
  @include font-mono
  font-size: 1em
  transition: all .4s ease-in-out

  &:hover
    background: white
    color: $color-bg

footer
  @extend .container
  @include font-mono(none)
  font-size: .75em

ul.list
  list-style: none
  padding: 0

.col.three h3
  margin-top: .75em

.alt
  // background: white
  // #graph
  //   background: $color-bg
  //   height: 5em

article
  line-height: 1.66667

blockquote
  border-left: 1px solid rgba(144, 246, 233, 0.7)
  margin: 1em 0
  padding: 0 1em

code
  background-color: #FFEEBF
  color: #333
  border-radius: 3px
  padding: .1em .4em

pre
  // white-space: pre-wrap

  code
    background: transparent
    color: white
    word-wrap: break-word

@import "work"
@import "posts"

@media (max-width: 860px)
  html
    font-size: 108%

  header #logo
    font-size: 40px
    background-size: auto 80%

@media (max-width: 500px)
  html
    font-size: 96%

@media (max-width: 400px)
  header .select
    display: block
    position: relative
    margin: 0 0 1px 0

