ul.posts
  padding-left: 2em
  list-style: none

  li
    padding: .5em 0

    &:before
      content: "+ "

  // span:after
  //   content: "--"
  //   text-indent: -999em
  //   display: inline-block
  //   width: 6%
  //   margin: 0 .5em
  //   border-bottom: 2px dotted rgba(212,212,212,.5)
  //   vertical-align: text-bottom

h1.post-title
  margin-top: .3em

#disqus_thread
  margin-top: 2em
