---
layout: default
title: Work | Ripeworks
---

<section>
  <div class="container">
    <div class="col twelve animate-in-2">
      <h2>Work</h2>
    </div>
  </div>
  <div class="container-wide">
    <div class="col twelve projects">
      <span class="year animate-in-2">PRODUCTS</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.products %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
    <!-- <div class="col twelve projects">
      <span class="year animate-in-2">ONGOING</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.ongoing %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div> -->
    <div class="col twelve projects">
      <span class="year animate-in-2">Y-2017</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.projects2017 %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
    <div class="col twelve projects">
      <span class="year animate-in-2">Y-2016</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.projects2016 %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
    <div class="col twelve projects">
      <span class="year animate-in-2">Y-2015</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.projects2015 %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
    <div class="col twelve projects">
      <span class="year animate-in-2">Y-2014</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.projects2014 %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
    <div class="col twelve projects">
      <span class="year animate-in-2">Y-2013</span>
      <ul class="list col offset-three nine">
        {% for project in site.data.projects2013 %}
          {% include project.html project=project %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
