<!doctype html>
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <meta name="description" content="Ripeworks is a web studio based in Leelanau County, Northport, Michigan. Ready to tackle any web, mobile, or software development project.">
  <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  <div id="graph"></div>
  <div id="site">
    <header>
      <h1 id="logo"><a href="">Ripeworks</a></h1>
      <div class="select">
        <select aria-label="Navigation menu">
          <option>Home</option>
          <option>About</option>
          <option>Articles</option>
          <option>Work</option>
        </select>
      </div>
    </header>
    {{content}}
  </div>
  <script src="/js/vendor.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
